

/* 自定义按钮样式 */
.custom-button-1 {
    padding: 10px 20px;
    background-color: #ffc7c7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.custom-button-1:hover {
    background-color: black;
}