<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的收藏</title>

    <style>
        .custo3333m-font {
            font-family: "宋体";
    }
    </style>
    <style>
        .img-fixed-size {
    width: 180px;
    height: 360px;
    /* 可以添加其他样式，例如居中、边框等 */
}
    </style>

    <style>
        /* 定义分页链接样式 */
        .pagination_work a {
            color: black; /* 设置链接字体颜色为黑色 */
            text-decoration: none; /* 去除下划线 */
            margin: 0 5px; /* 设置链接间距 */
        }

        /* 定义当前页码的样式 */
        .pagination_work strong {
            color: black; /* 设置当前页码字体颜色为黑色 */
            margin: 0 5px; /* 设置当前页码间距 */
        }

        /* 定义省略号的样式 */
        .pagination_work .ellipsis {
            color: black; /* 设置省略号字体颜色为黑色 */
            margin: 0 5px; /* 设置省略号间距 */
        }
    </style>

    <style>
        /* 定义分页链接样式 */
        .pagination_work a {
            color: black; /* 设置链接字体颜色为黑色 */
            text-decoration: none; /* 去除下划线 */
            margin: 0 5px; /* 设置链接间距 */
        }

        /* 定义当前页码的样式 */
        .pagination_work strong {
            color: black; /* 设置当前页码字体颜色为黑色 */
            margin: 0 5px; /* 设置当前页码间距 */
        }

        /* 定义省略号的样式 */
        .pagination_work .ellipsis {
            color: black; /* 设置省略号字体颜色为黑色 */
            margin: 0 5px; /* 设置省略号间距 */
        }
                /* 定义分页链接样式 */
        .pagination_project a {
            color: black; /* 设置链接字体颜色为黑色 */
            text-decoration: none; /* 去除下划线 */
            margin: 0 5px; /* 设置链接间距 */
        }

        /* 定义当前页码的样式 */
        .pagination_project strong {
            color: black; /* 设置当前页码字体颜色为黑色 */
            margin: 0 5px; /* 设置当前页码间距 */
        }

        /* 定义省略号的样式 */
        .pagination_project .ellipsis {
            color: black; /* 设置省略号字体颜色为黑色 */
            margin: 0 5px; /* 设置省略号间距 */
        }
    </style>
    <!-- Favicon -->

    <!-- Bootstrap CSS Link -->

    <!-- 引入Bootstrap CSS -->


    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css" media="all">
    <!-- Owl Carousel CSS Link -->
    <link rel="stylesheet" href="static/css/owl.carousel.min.css" type="text/css" media="all">
    <!-- Animate CSS Link -->
    <link rel="stylesheet" href="static/css/animate.css" type="text/css" media="all">
    <!-- Animated text CSS Link -->
    <link rel="stylesheet" href="static/css/animated-text.css" type="text/css" media="all">
    <!-- Font Awesome CSS Link -->
    <link rel="stylesheet" href="static/css/all.min.css" type="text/css" media="all">
    <!-- Font Flaticon CSS Link -->
    <link rel="stylesheet" href="static/css/flaticon.css" type="text/css" media="all">
    <!-- Custom default CSS Link -->
    <link rel="stylesheet" href="static/css/custom-default.css" type="text/css" media="all">
    <!-- Meanmenu CSS Link -->
    <link rel="stylesheet" href="static/css/meanmenu.min.css" type="text/css" media="all">
    <!-- Transitions CSS Link -->
    <link rel="stylesheet" href="static/css/owl.transitions.css" type="text/css" media="all">
    <!-- Venobox CSS Link -->
    <link rel="stylesheet" href="static/css/venobox.css" type="text/css" media="all">
    <!-- Bootstrap Icons Link -->
    <link rel="stylesheet" href="static/css/bootstrap-icons.css" type="text/css" media="all">
    <!-- Custom Style CSS Link -->
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="all">
    <!-- Responsive CSS Link -->
    <link rel="stylesheet" href="static/css/responsive.css" type="text/css" media="all">
    <link href="static/css/clash-display.css" rel="stylesheet">


</head>

<body>
<!---->
<!---->
<!-- Preloader -->
<div class="loader_bg">
    <div class="loader"></div>
    <h4 class="loading-title">Loading...</h4>
</div>

<!--==================================================-->
<!-- Start Adira City Header Menu Section -->
<!--==================================================-->

<header class="header-manu-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-10">
                <nav class="header-menu ">
                    <ul>
                        <li><a href="index.html" class="active">首页 <i class="bi bi-chevron-down"></i></a>
                        </li>
                        <li><a href="w_MLanguageSupport.html">非遗档案<i class="bi "></i></a>
                        </li>
                        <li><a href="#">文创<i class="bi bi-chevron-down"></i></a>
                            <div class="submenu">
                                <ul>
                                    <li><a href="work.html">文创精选</a></li>
                                    <li><a href="mycollectp.html#potfolio-details-section-2">文创助手</a></li>
                                    <li><a href="dream.html">非遗游戏</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="heartpp.html">智能推荐<i class="bi "></i></a>
                        </li>
                        <li><a href="#">数字非遗<i class="bi bi-chevron-down"></i></a>
                            <div class="submenu">
                                <ul>
                                    <li><a href="number.html">非遗数字体验馆</a></li>
                                    <li><a href="knowledge.html">非遗知识图谱</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">非遗旅游<i class="bi bi-chevron-down"></i></a>
                            <div class="submenu">
                                <ul>
                                    <li><a href="mycollectp.html#potfolio-details-section-1">非遗旅游AI定制</a></li>
                                    <li><a href="appointment.html">【中国非物质遗产文化馆】预约</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">探索 <i class="bi bi-chevron-down"></i></a>
                            <div class="submenu">
                                <ul>
                                    <li><a href="z_map.html">非遗地图</a></li>
                                    <li><a href="t_line.html">非遗传承人</a></li>
                                    <li><a href="z_test.html">非遗测试</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">欢迎, {{ session['username'] }}<i class="bi bi-chevron-down"></i></a>
                            <div class="submenu">
                                <ul>
                                    <li><a href="mycollectp.html"> {{ session['username'] }}的收藏</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--==================================================-->
<!-- End Adira City Header Main Section -->
<!--==================================================-->


<!--==================================================-->
<!-- Start Main Menu Area -->
<!--==================================================-->
<div class="mobile-menu-area sticky d-sm-block d-md-block d-lg-none ">
    <div class="mobile-menu">
        <nav class="header-menu">
            <ul class="nav_scroll">
                <li class="menu-item-has-children"><a href="index.html">首页</a>
                </li>
                <li class="menu-item-has-children"><a href="w_MLanguageSupport.html">非遗档案</a>
                </li>
                <li class="menu-item-has-children"><a href="#">文创</a>
                    <ul class="sub-menu">
                        <li><a href="work.html">文创精选</a></li>
                        <li><a href="mycollectp.html#potfolio-details-section-2">文创助手</a></li>
                        <li><a href="dream.html">非遗游戏</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="heartpp.html">智能推荐</a></li>
                <li class="menu-item-has-children"><a href="#">数字非遗</a>
                    <ul class="sub-menu">
                        <li><a href="number.html">非遗数字体验馆</a></li>
                        <li><a href="knowledge.html">非遗知识图谱</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">非遗旅游</a>
                    <ul class="sub-menu">
                        <li><a href="mycollectp.html#potfolio-details-section-1">非遗旅游AI定制</a></li>
                        <li><a href="appointment.html">【中国非物质遗产文化馆】预约</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">探索</a>
                    <ul class="sub-menu">
                        <li><a href="z_map.html">非遗地图</a></li>
                        <li><a href="t_line.html">非遗传承人</a></li>
                        <li><a href="z_test.html">非遗测试</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!--==================================================-->
<!-- End Adira City Header Main Section -->
<!--==================================================-->


<!--==================================================-->
<!-- Start Main Menu Area -->
<!--==================================================-->


<!--==================================================-->
<!-- End Main Menu Area -->
<!--==================================================-->


<!--==================================================-->
<!-- Start Adira City Banner Inner Section -->
<!--==================================================-->

<!--==================================================-->
<!-- End Adira City Banner Inner Section -->
<!--==================================================-->
<section class="banner-inner-section-mycollectp">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-12">
                <div class="banner-inner-section-title wow fadeInRight animated">
                    <h1>我的收藏</h1>
                </div>
                <div class="banner-inner-link wow fadeInRight animated">
                    <a href="index.html"><i class="fas fa-home"></i> home </a>
                    <span>.</span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="shop-inner-section">
    <div class="container">
        <div class="shop-section-title wow fadeInDown animated">
            <h3>非遗收藏♥</h3>
        </div>
        {% for project in user_projects.items %}
        <section class="potfolio-details-section-1">
            <div class="portfolio-info-5">
                <div class="tab-item">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="shop-content-thumb">
                                {% set image_path = 'projectf/' + project.specific_number + '.jpg' %}
                                <img src="{{ url_for('static', filename=image_path) }}" alt="thumb">
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="shop-tab-details">
                                <div class="tab-item-title">
                                    <h4>{{ project.project_name }}</h4>
                                </div>
                                <!-- Assuming 'rating' is a field in your model representing the rating -->
                                <div class="item-rate">
                                    <div class="item-rate-icon">
                                        <ul>
                                            <li><i class="bi bi-star-fill"></i></li>
                                            <li><i class="bi bi-star-fill"></i></li>
                                            <li><i class="bi bi-star-fill"></i></li>
                                            <li><i class="bi bi-star-fill"></i></li>
                                            <li><i class="bi bi-star-half"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-item-desc">
                                    <p>大类：{{ project.category_big }}</p>
                                </div>
                                <div class="tab-item-desc">
                                    <p>小类：{{ project.category_small }}</p>
                                </div>
                                <div class="tab-item-desc">
                                    <p>简述：{{ project.description }}</p>
                                </div>
                                <div class="add-to-cart">
                                    <!-- 修改前端代码，为浏览按钮添加点击事件 -->
                                    <a href="#"
                                       onclick="openBaiduBaike('{{ project.project_name }}', '{{ project.category_big }}'); handleBrowse('{{ project.id }}'); return false;"><i
                                            class="bi "></i> 浏览</a>

                                    <a href="#" onclick="confirmDelete('{{ project.id }}');"><i class="bi "></i>
                                        删除</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}
        <!-- 分页链接 -->
        <div class="pagination_project">
            {% if user_projects.has_prev %}
            <a href="{{ url_for('show_collection', page_projects=user_projects.prev_num) }}">上一页</a>
            {% endif %}

            {% for page_num in user_projects.iter_pages() %}
            {% if page_num %}
            {% if user_projects.page == page_num %}
            <strong>{{ page_num }}</strong>
            {% else %}
            <a href="{{ url_for('show_collection', page_projects=page_num) }}">{{ page_num }}</a>
            {% endif %}
            {% else %}
            <span class="ellipsis">...</span>
            {% endif %}
            {% endfor %}

            {% if user_projects.has_next %}
            <a href="{{ url_for('show_collection', page_projects=user_projects.next_num) }}">下一页</a>
            {% endif %}
        </div>

    </div>
</section>

<section class="potfolio-details-section" id="potfolio-details-section-1">
    <div class="container">
        <div class="portfolio-related">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6">
                    <div class="portfolio-related-content wow fadeInUp animated">
                        <div class="portfolio-related-title">
                            <h1>非遗探索之旅AI定制</h1>
                        </div>
                        <div class="portfolio-related-desc">
                            <p>
                                这是一场由AI赋能的文化寻根之旅，您将探寻华夏大地的散落的文化瑰宝，
                                现在，就请轻触按钮，启动这场由“AI”为您独家呈现的文化盛宴。
                                在这里，科技与传统完美交融，为您揭开中华非遗的神秘面纱，让每一份收藏都不再静默，每一段旅程都满载故事与灵感。
                            </p>
                        </div>
                        <div class="portfolio-related-btn">
                            <a href="#" id="customization-link">开启AI定制</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInDown animated">
                    <div class="portfolio-related-thumb">
                        <img src="static/image/c88.jpg" alt="thumb">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInRight animated">
                    <div class="portfolio-related-thumb">
                        <img src="static/image/c89.jpg" alt="thumb">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- 分页链接 -->


<!-- 弹窗模态框 -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">删除成功</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="successMessage"></p>
            </div>
        </div>
    </div>
</div>


<section class="banner-inner-section-mycollectp2">
    <div class="container ">
        <div class="row ">
            <div class="col-lg-12">
                <div class="banner-inner-section-title wow fadeInRight animated">
                    <h1>我的文创收藏</h1>
                </div>
                <div class="banner-inner-link wow fadeInRight animated">
                    <a href="index.html"><i class="fas fa-home"></i> home </a>
                    <span>.</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop-inner-section">
    <div class="container">
        <div class="shop-tab-content active">
            <div class="row">
                {% for favorite_work in user_works.items %}
                <div class="col-lg-3 col-md-6">
                    <div class="shop-item">
                        <div class="shop-item-thumb">
                            {% set image_path = 'projectm/' + favorite_work.specific_number + '.png' %}
                            <img src="{{ url_for('static', filename=image_path) }}" alt="thumb" class="img-fixed-size">
                            <div class="shop-social">
                                <ul>
                                    <!-- 修改前端代码，为浏览按钮添加点击事件 -->
                                    <li><a href="#"
                                           onclick="openTaobaoSearch('{{ favorite_work.work_name }}'); handleBrowse_work('{{ favorite_work.work_id }}'); return false;">
                                        <i class="bi bi-cart4"></i>
                                    </a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="shop-content-1">
                            <div class="item-title">
                                <h6>{{ favorite_work.work_name }}</h6>
                            </div>
                            <div class="item-title">
                                <h6>{{ favorite_work.category_big }}</h6>
                            </div>
                            <div class="item-title">
                                <h6>{{ favorite_work.category_small }}</h6>
                            </div>
                            <div class="item-price">
                                <h6>价格：￥{{ favorite_work.price }}起</h6>
                            </div>
                            <div class="add-to-cart">
                                <a href="#" onclick="confirmDelete_work('{{ favorite_work.id }}');"><i
                                        class="bi "></i>
                                    删除</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="pagination_work">
                    {% if user_works.has_prev %}
                    <a href="{{ url_for('show_collection', page_works=user_works.prev_num) }}">上一页</a>
                    {% endif %}

                    {% for page_num in user_works.iter_pages() %}
                    {% if page_num %}
                    {% if user_works.page == page_num %}
                    <strong>{{ page_num }}</strong>
                    {% else %}
                    <a href="{{ url_for('show_collection', page_works=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                    {% else %}
                    <span class="ellipsis">...</span>
                    {% endif %}
                    {% endfor %}

                    {% if user_works.has_next %}
                    <a href="{{ url_for('show_collection', page_works=user_works.next_num) }}">下一页</a>
                    {% endif %}
                </div>


            </div>
        </div>
    </div>
</section>


<section class="potfolio-details-section" id="potfolio-details-section-2">
    <div class="container">
        <div class="portfolio-related">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6">
                    <div class="portfolio-related-content wow fadeInUp animated">
                        <div class="portfolio-related-title">
                            <h1>文创助手</h1>
                        </div>
                        <div class="portfolio-related-desc">
                            <p>
                                每一份对文化的热爱与投资都值得被尊重与理解。文创助手为您推算产品价格，旨在帮您在繁杂的文创市场中购买产品时做到心中有数，决策有据。让文化的价值，在数据的光芒下熠熠生辉，也让您的每一步收藏之路，更加自信与从容。
                             </p>
                            <p>
                                点击下方按钮，立即体验"文创助手"，开启您的文创价值探索之旅，让每一件藏品背后的故事与价值，都被世界听见，被时代铭记。
                            </p>
                        </div>
                        <div class="portfolio-related-btn">
                            <a href="#" id="customization-link-2">开启文创助手</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInDown animated">
                    <div class="portfolio-related-thumb">
                        <img src="static/image/c90.jpg" alt="thumb">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInRight animated">
                    <div class="portfolio-related-thumb">
                        <img src="static/image/c91.jpg" alt="thumb">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    document.addEventListener('DOMContentLoaded', () => {
    // 监听一键定制链接的点击事件
    document.getElementById('customization-link').addEventListener('click', (event) => {
        event.preventDefault(); // 阻止默认的链接跳转行为

        // 发送 AJAX 请求到后端 Flask 应用
        fetch('/start_streamlit_3')
            .then(response => {
                if (response.ok) {
                    return response.text(); // 解析后端返回的文本内容
                } else {
                    throw new Error('无法启动 Streamlit 应用');
                }
            })
            .then(data => {
                // 在成功接收到后端响应后，可以根据需要进行其他操作
                console.log(data); // 输出后端返回的文本内容
                // 这里可以根据需要处理后端返回的数据
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
});
</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    // 监听一键定制链接的点击事件
    document.getElementById('customization-link-2').addEventListener('click', (event) => {
        event.preventDefault(); // 阻止默认的链接跳转行为

        // 发送 AJAX 请求到后端 Flask 应用
        fetch('/start_streamlit_4')
            .then(response => {
                if (response.ok) {
                    return response.text(); // 解析后端返回的文本内容
                } else {
                    throw new Error('无法启动 Streamlit 应用');
                }
            })
            .then(data => {
                // 在成功接收到后端响应后，可以根据需要进行其他操作
                console.log(data); // 输出后端返回的文本内容
                // 这里可以根据需要处理后端返回的数据
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
});
</script>

<script>
    function handleBrowse(projectId) {
        // Send AJAX request to Flask backend
        fetch('/log_project_interaction', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                project_id: projectId
            })
        })
        .then(function(response) {
            if (response.ok) {
                console.log('Project interaction logged successfully.');
                // Optionally update the UI or perform other actions upon success
            } else {
                throw new Error('Failed to log project interaction.');
            }
        })
        .catch(function(error) {
            console.error('Error logging project interaction:', error);
        });
    }
</script>


<script>
    function openBaiduBaike(projectName, categoryBig) {
        // 构造百度百科搜索链接
        var searchUrl = 'https://baike.baidu.com/item/' + encodeURIComponent(projectName);

        // 输出调试信息
        console.log('搜索链接：', searchUrl);

        // 定义弹出窗口的大小和位置
        var windowWidth = 800;
        var windowHeight = 600;
        var windowLeft = (screen.width - windowWidth) / 2;
        var windowTop = (screen.height - windowHeight) / 2;

        // 打开小窗口并显示百度百科搜索结果页面
        var baiduBaikeWindow = window.open(searchUrl, 'BaiduBaikeWindow', 'width=' + windowWidth + ', height=' + windowHeight + ', left=' + windowLeft + ', top=' + windowTop);

        // 构造 fetch 请求
        var requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                project_name: projectName,
                category_big: categoryBig  // 替换为实际的非遗类别名称
            })
        };

        // 输出 fetch 请求信息
        console.log('发送后端请求：', requestOptions);

        // 发送异步请求到后端接口 /browse_project
        fetch('/browse_project', requestOptions)
        .then(response => response.json())
        .then(data => {
            // 输出后端返回的数据
            console.log('后端响应数据：', data);

            // 根据需求处理后端返回的数据
            // 这里可以添加更多逻辑...
        })
        .catch(error => {
            // 输出捕获的错误信息
            console.error('发生错误：', error);
        });

        // 焦点回到新打开的百度百科窗口
        if (baiduBaikeWindow) {
            baiduBaikeWindow.focus();
        }
    }
</script>

<script>
    function confirmDelete(projectId) {
        if (confirm("确定要删除这个收藏项目吗？")) {
            window.location.href = "/delete_favorite_project/" + projectId;
        }
    }
</script>

<script>
    function confirmDelete_work(workId) {
        if (confirm("确定要删除这个收藏项目吗？")) {
            window.location.href = "/delete_favorite_work/" + workId;
        }
    }
</script>
<script>
    // JavaScript 函数用于在居中位置打开淘宝搜索窗口
    function openTaobaoSearch(workName) {
        // 构造淘宝搜索链接
        var searchUrl = 'https://s.taobao.com/search?q=' + encodeURIComponent(workName);

        // 定义窗口大小和居中位置
        var windowWidth = 800;
        var windowHeight = 600;
        var windowLeft = (window.screen.width - windowWidth) / 2;
        var windowTop = (window.screen.height - windowHeight) / 2;

        // 构建窗口特性字符串
        var windowFeatures = 'width=' + windowWidth + ',height=' + windowHeight + ',left=' + windowLeft + ',top=' + windowTop +
                             ',menubar=no,toolbar=no,location=no,resizable=yes,scrollbars=yes,status=yes';

        // 打开新窗口以居中显示淘宝搜索结果
        var taobaoSearchWindow = window.open(searchUrl, '_blank', windowFeatures);

        if (taobaoSearchWindow) {
            // 等待新窗口加载完成后填入搜索框
            taobaoSearchWindow.addEventListener('load', function() {
                // 在新窗口中查找搜索框元素
                var searchInput = taobaoSearchWindow.document.getElementById('q');

                // 将关键词填入搜索框
                if (searchInput) {
                    searchInput.value = decodeURIComponent(workName); // 将 URL 编码的关键词解码后填入搜索框

                    // 触发搜索（可选）
                    searchInput.form.submit(); // 提交搜索表单，执行搜索
                }
            });

            // 在新窗口加载完成后可以进行其他操作（可选）
            console.log('成功打开淘宝搜索窗口。');

        } else {
            // 处理弹窗被阻止的情况（如果适用）
            console.error('无法打开淘宝搜索窗口。可能被弹窗阻止了。');
        }
    }
</script>
<script>
    function handleBrowse_work(workId) {
        // Send AJAX request to Flask backend
        fetch('/log_work_interaction', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                work_id: workId
            })
        })
        .then(function(response) {
            if (response.ok) {
                console.log('work interaction logged successfully.');
                // Optionally update the UI or perform other actions upon success
            } else {
                throw new Error('Failed to log work interaction.');
            }
        })
        .catch(function(error) {
            console.error('Error logging work interaction:', error);
        });
    }
</script>


<!--==================================================-->
<!-- Start Adira City Shop Section -->
<!--==================================================-->


<!--==================================================-->
<!-- End Adira City Shop Section -->
<!--==================================================-->


<!--==================================================-->
<!-- Start Adira City Footer Section -->
<!--==================================================-->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 wow fadeInLeft animated">
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInDown animated">
                <div class="footer-explore">
                    <div class="footer-explore-title">
                        <h6>友情链接</h6>
                    </div>
                    <ul>
                        <li><a href="https://www.mct.gov.cn/">中华人民共和国文化和旅游部</a></li>
                        <li><a href="https://fyrhome.cn/">中国非物质文化遗产网</a></li>
                        <li><a href="http://www.ncha.gov.cn/">国家文物局</a></li>
                        <li><a href="https://www.chinesefolklore.org.cn/">中国民俗学网</a></li>
                    </ul>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <div class="footer-bootom">
                        <p>“遗”见倾心<a></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--==================================================-->
<!-- End Adira City Footer Section -->
<!--==================================================-->
<div class="scroll-area">
    <div class="top-wrap">
        <div class="go-top-btn-wraper">
            <div class="prgoress_indicator active-progress">
                <svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
                    <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
                          style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 270.456;"></path>
                </svg>
            </div>
        </div>
    </div>
</div>


<!--==================================================-->
<!-- Start Curser Section Here -->
<!--==================================================-->
<div class="curser"></div>
<div class="curser2"></div>
<!--==================================================-->
<!-- Ends Curser Section Here -->
<!--==================================================-->

<!--==================================================-->
<!-- Start Search Popup Area -->
<!--==================================================-->
<div class="search-popup">
    <button class="close-search style-two"><i class="fas fa-times"></i></button>
    <button class="close-search"><i class="fas fa-arrow-up"></i></button>
    <form method="post" action="#" id="dreamit-forms">
        <div class="form-group">
            <input type="search" name="search-field" value="" placeholder="Search Here" required="">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
    </form>
</div>
<!--==================================================-->
<!-- End Search Popup Area -->
<!--==================================================-->


<!--==================================================-->
<!-- Start scrollup Section Here-->
<!--==================================================-->

<!--==================================================-->
<!-- Ends scrollup Section Here -->
<!--==================================================-->


<!--==================================================-->
<!-- Start JavaScrift CDN Section -->
<!--==================================================-->

<!-- Modernizr JS -->
<script src="static/js/modernizr-3.5.0.min.js"></script>
<!-- Vendor JS CDN -->
<script src="static/js/jquery-3.6.2.min.js"></script>
<!-- Popper JS CDN -->
<script src="static/js/popper.min.js"></script>
<!-- Bootstrap JS CDN -->
<script src="static/js/bootstrap.min.js"></script>
<!-- Owl Carousel JS CDN -->
<script src="static/js/owl.carousel.min.js"></script>
<!-- CounterUp JS CDN -->
<script src="static/js/jquery.counterup.min.js"></script>
<!-- WayPoints JS CDN -->
<script src="static/js/waypoints.min.js"></script>
<!-- WOW JS CDN -->
<script src="static/js/wow.js"></script>
<!-- Imageloaded JS CDN -->
<script src="static/js/imagesloaded.pkgd.min.js"></script>
<!-- Venubox JS CDN -->
<script src="static/js/venobox.js"></script>
<!-- Animated JS CDN -->
<script src="static/js/animated-text.js"></script>
<!-- VenuBox JS CDN -->
<script src="static/js/venobox.min.js"></script>
<!-- PKG JS CDN -->
<script src="static/js/isotope.pkgd.min.js"></script>
<!-- MeanMenu JS CDN -->
<script src="static/js/jquery.meanmenu.js"></script>
<!-- ScrollUp JS CDN -->
<script src="static/js/jquery.scrollUp.js"></script>
<!-- Burfiller JS CDN -->
<script src="static/js/jquery.barfiller.js"></script>
<!-- Custom JS CDN -->
<script src="static/js/custom.js"></script>

</body>

</html>

